/* 

Author: Tomv von Schwerdtner <tomvons@gmail.com>

Mixture of html5boilerplate Wordpress and BreakFast theme from http://www.opensourcedesign.com/

*/

/*
    http://css-tricks.com/box-sizing/
    Force <textarea> to have padding and border that cut into it’s 100% width instead of expanding it. 
*/
textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

* {
    /* Enable kerning and ligatures: http://www.aestheticallyloyal.com/public/optimize-legibility/ */
    text-rendering: optimizeLegibility;
}

/* Tweaks to the standard tags. */

hr { 
    /* HR are in place only for non css devices. */
    display: none; 
}

body {
    margin: 0px;
    background: url("/media/img/bgbody.jpg") no-repeat scroll center top black;
    font-family: trebuchet ms,arial,helvetica,sans-serif;
    padding: 0 0 15px;
    text-align: center;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    color: #aaa;
}

/* fluid width images http://css-tricks.com/fluid-width-youtube-videos/ */
.img img, figure img {
   max-width: 100%;
   /* border: 1px solid #444; */
}

.img object, .img embed {
   width: 100%;
}

.img img:hover, figure img:hover {
  outline: none;
  -webkit-transform: rotate(1.5deg) scale(1.05); 
  -webkit-box-shadow: 0 3px 5px #666; 
  -webkit-transition-property: rotate, scale, box-shadow;
  -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
  -moz-transform: rotate(1.5deg) scale(1.05);
  -moz-box-shadow: 0 3px 5px #666;
  z-index: 9999;
}

.img img, figure img {
  -webkit-transition-property: rotate, scale, box-shadow;
  -webkit-transition-duration: 0.3s, 0.3s, 0.3s;
}

/* Tweak the color and text-decoration. */
a, a:active, a:visited { 
    color: #8aa2dc;
    text-decoration:none;
    -webkit-transition: color .25s;
}

a:hover { 
    color: #607890 /* #c7392f */ ;
}

/* We'll underline the paragraph links. */
p a, p a:active, p a:visited { 
    border-bottom: 1px solid transparent;
    -webkit-transition: border-color .65s;
    font-weight: 500;
}

p a:hover { 
    border-color: #607890 /* #c7392f */ ;
}

/* Headers */
h1 {
    font-size: 152%;
    line-height: 1.3em;
    font-weight: 700;
    color: #BBB;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}
article h1 {
    font-size: 197%;
    font-weight: 700;
    letter-spacing: 0;
}
h2 {
    font-size: 123.1%;
    line-height: 1.3em;
    margin-bottom: 5px;
    color: #eee;
}
h3 {
    font-size: 93%;
    margin-bottom: 4px;
    color: #ddd;
}
h4.date {
    color: #BBB;
    font-weight: 100;
    font-style: italic;
    font-size: 100%;
    margin: 60px 0 40px 0;
}

h1 a, h1 a:active, h1 a:visited,
h2 a, h2 a:active, h2 a:visited { 
    color: inherit;
}

/* Text Styles */
p {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 93%;
}
em {
    font-style: italic;
}
strong {
    font-weight: 500;
}
small {
    font-size: 85%;
}

/* Code etc. */
code {
    color: #9ed9f7;
}
pre {
    margin-bottom: 18px;
    border: 1px solid #151515;
    font-size: 85%;
}

/*     Lists and Blocks */
ul, ol {
    margin-bottom: 18px;
    padding: 0px;
}
ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0;
}
li {
    margin: 0px;
    font-weight: 300;
    margin: 0.6em 0;
}

/* Blockquote */
blockquote {
    color: #5c6119;
    border-left: 2px solid #e7ebe1;
    margin: 20px;
    padding-left: 10px;
    margin-left: -12px; /* shift left so text aligns with left */
    width: 80%;
}
blockquote p:first-of-type:before {
    content: "“";
}
blockquote p:last-of-type:after {
    content: "”";
}
blockquote p {
    margin-bottom: 9px;
}
blockquote * {
    color: inherit;
}
cite {
    font-size: 80%;
    color: #BBB;
}
cite:before {
    content: "Source: ";
}
cite * {
    color: inherit;
}


/*
========================================================================
*/

#search {
    display: none;
    float: right;
    margin-top: -10px;
}

#search input[type=text] {
    width: 180px;
    border: 1px #ccc solid;
    padding: 2px;
}

#container {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 960px;
}

/* Navigation */

header {
    height: 124px;
    margin: 0 0 30px;
    padding: 0;
    display: none !important;
}

body#home header {
    border-bottom: none;
}

header #logo {
    float: left;
    height: 65px;
    margin: 25px 0 0;
    padding: 0;
    width: 350px;
}

header #logo h1 {
    margin: 0;
    padding: 0;
}

header #logo h1 a {
    color: white;
    font-size: 17pt;
    text-decoration: none;
}

header #logo h1 a:hover { 
    color: #CCC;
}

header #logo h2 {
    font-size: 11pt;
    color: #111;
    font-weight: normal;
    padding: 0;
}

header nav {
    float: right;
    margin: 5px 0 0;
    text-align: right;
}

header nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul a {
    color: white !important;
    font-size: 9pt;
    padding: 0 0 0 25px;
    text-transform: lowercase;
    text-decoration: none;
}

header nav ul a:hover {
    text-decoration: none;
    color: #CCC;
}

header nav ul li.active a {
    color: white;
    background: #3b3b3b;
}

#catnav {
    clear: both;
    padding: 20px 0 0;
    width: 960px;
}

#catnav nav {
    float: none;
    text-align: left;
}

#catnav nav ul a {
    text-transform: none;
}

#content {
    float: left;
    margin: 0 15px 15px;
    padding: 0;
    width: 560px;
    color: #BBB;
}

#sidebar {
    float: left;
    width: 340px;
    margin: 15px 0 0;
    padding: 0;
}

#sidebar div {
    float: left;
    margin-bottom: 12px;
}

body#home #sidebar ul {
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}

body#home #sidebar ul li a,
body#home #sidebar ul li a:hover {
    color: #fff;
}

#sidebar h3 {
    padding: 0 10px;
    background: #3b3b3b;
    color: #ccc;
    font-size: 100%;
    font-weight: normal;
    line-height: 140%;
}

/* Home */
#splash {
    width: 770px;
    height: 190px;
    margin: 0 auto;
    background: url(../img/Mountain_Scene.jpg) no-repeat;
}

/* Tables */
table { }
table caption {
    font-weight: 700;
    background: #999;
    color: black;
    margin: 4px;
    border-radius:10px; 
    -webkit-border-radius:10px;
}
th {
    background:#ccc;
    padding: 3px;
}
td {
    padding: 3px 10px;
}
tr:nth-child(even) {
    background: #151515;
}

dialog {
    display:block;
    border-top: 2px solid #151515;
    border-bottom: 2px solid #151515;
    margin: 10px 0 20px 0;
}
dialog dt {
    padding: 10px 0px;
    font-weight: 500;
    color: #999;
}
dialog dt time {
    color: #ccc;
}
dialog dt a {
    color: inherit;
}
dialog dd {
    padding: 10px 20px;
    border-bottom: 2px solid #151515;
    font-style: italic;
}
.comment {
    display: none;
}

textarea#comment {
    width:100%;
}

/* Sections and articles layouts */
article, 
section.post {
    margin: 0px;
}
article header,
section.post header {
    margin-bottom: 20px;
}

article header h1 {
}

article footer,
section.post footer {
    padding: 3px 0px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    font-size: 85%;
}

footer {
    display: none !important;
}

article header figure {
    margin-top: 1em;
}


h1.offsite {
    font-size:153.9%;
    margin-bottom: 0.5em;
}

/* Dates */
article header time {
    color: #ccc;
    font-weight: 700;
    display: block;
    font-size: 77%;
}

article section > p:last-of-type:after {
    margin-left: 5px;
    color: #BBB;
}

/* Pagination */
#pagination {
    margin: 90px 0;
    text-align: center;
    font-size: 140%;
}

/* navigation */
#footer {
    margin: 70px 0 0px 0;
    clear: both;
    text-align: center;
}

#bookmark {
    float:right;
    position: relative;
    top: -70px;
    right: 112%;
    margin-bottom: -50px;
}


/* section specific */
section.image img {
    display: block;
    margin: 0 auto;
}

section.image cite {
    text-align: center;
    display: block;
    margin: 0.5em;
}

/* Forms */
form table td,
form table th {
    margin: 0;
    padding: 6px;
    vertical-align: top;
}

form table th {
    text-align: right;
    background: black;
    border-right: 1px #bfbfbf solid;
}

label {
    display: block;
    font-weight: bold;
}

input[type=text] {
    width: 98%;
    padding: 2px;
    border: 1px #bfbfbf solid;
}

#breadcrumb-menu ul {
    margin: 0;
}

#breadcrumb-menu li {
    list-style-type: none;
    display: inline;
    margin-left: 0px;
    font-size: smaller;
}

.paging {
    border-top:1px solid #ccc;
}
.paging li {
    padding:0 5px; margin:0 !important;
}
.paging * {
    display:inline;
}


/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
    * {
        background: transparent !important;
        color: #444 !important;
        text-shadow: none !important;
    }

    a, a:visited {
        color: #444 !important;
        text-decoration: underline;
    }

    a:after {
        content: " (" attr(href) ")";
    }

    abbr:after {
        content: " (" attr(title) ")";
    }

    .ir a:after {
        content: "";
    }
    /* Don't show links for images */

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }
    /* css-discuss.incutio.com/wiki/Printing_Tables */

    tr, img {
        page-break-inside: avoid;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}



/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}


/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* Some responsive design goodness:
   http://www.alistapart.com/articles/responsive-web-design/ */
@media screen and (max-width: 640px) {

    body {
        margin: 0px 5%;
    }
    #bookmark {
        float: none;
        position: inherit;
        top: 0px;
        right: 0;
        margin-bottom: 20px;
    }

    #header {
        text-align: center;
        margin-top: 0;
    }

    #header nav li {
        margin-right: 5px;
    }
    #header nav li:before {
        margin-right: 5px;
        content: "★";
        color: #ccc;
    }
    #header nav li:after {
        margin-left: 0px;
        content: "";
    }
    #header nav li:last-of-type:after {
        margin-left: 5px;
        content: "★";
        color: #ccc;
    }

    h4.date {
        margin-left: 0;
        text-align: center;
        border-bottom: 2px dotted #ccc;
        border-top: 2px dotted #ccc;
        padding: 6px;
        background: #efefef;
    }

    article,
    section.post {
        padding: 20px 0;
    }
    article header,
    section.post header {
        margin-bottom: 20px;
    }


    code {
        padding: 0;
    }
    pre {
        border: 0;
        background: #ffe;
    }

}

#bitcoin {
    float: left;
    margin-right: 4px;
}

#advert {
    margin-left: 100px;
}

#sidebar .adbox {
    text-align: center;
    width: 99%;
}

.share ul {
    padding: 0;
    margin: .5em 0;
}
.share ul li {
    padding: 1em 1em 1em 0;
    list-style-type: none;
    width: 183px;
    display: inline;
}

div.fb_edge_widget_with_comment {
    position: relative;
    top: -2px;
}

img.img_left {
    float: left;
    margin: 10px;
}

.socialtags {
    width: 100%;
    margin: 3px 15px 5px;
    text-align: center;
    display: none !important;
}


.twitter-follow-button {
    position: relative;
    display: inline;
    top: 3px;
    margin-right: 100px;
}

.fb-subscribe {
    margin-right: 100px;
}

.google-plus-link {
    display: inline-block;
    background: #DDDDDD;
    padding: 2px 3px;
    vertical-align: center;
    border-radius: 3px;
    position: relative;
    top: -3px;
    margin-right: 100px;
}

.linkedin-tag {
    display: inline-block;
    position: relative;
    padding: 2px 3px 0px;
    background: white;
    border-radius: 3px;
    height: 18px;
    margin-right: 30px;
}

