.resume_header {
	text-align: center;
}

.resume_name {
	font-weight: bolder; 
	font-size: 18pt;
}

body {
	text-align: center;
}
h4 {
	margin-left: -30px;
	text-transform: uppercase;
}
.resume_main {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.resume_objective {
	text-align: left;
	margin-left: 30px;
        margin-bottom: 1.5em;
}
.resume_skills {
	text-align: left;
	margin-left: 30px;
}
.resume_skills ul {
    padding: 0;
    margin-bottom: 0;
}
.resume_skills li {
    margin: 0; 
}
.resume_skills h4 {
	margin-left: -30px;
	text-transform: uppercase;
}
.resume_skills div div {
    float: left;
    width: 50%;
}

.resume_experience {
	text-align: left;
	margin-left: 60px;
}
.resume_experience h4 {
	margin-left: -60px;
	text-transform: uppercase;
}
.resume_experience h5 {
	margin-left: -30px;
	text-transform: uppercase;
}
